<!DOCTYPE html>
<html>
<head>
    <title>Error on enveti.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <base href="/"/>
</head>
<body>
<div class="text-center">
    <h3>Something bad happened on server side!</h3>
    <h5>Please contact me(the developer) via email and describe what happened wrong. My email: uncojet@gmail.com</h5>
    <h5>I will present you 100 credits on my website for cooperation. Thanks!!!</h5>
</div>
</body>
</html>