<nav id="top" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="scrollTo('top')">
                <img src="img/mini_logo.png">
                <h4>{{data.res[0].name}}'s page!</h4>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a ng-click="scrollTo('top')">Home</a></li>
                <li><a ng-href="/maintainUser{{userId}}">Maintain info</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/createEvent">Create new</a></li>
                        <li><a href="/maintainEvents">Maintain created</a></li>
                    </ul>
                </li>
                <li><a ng-if="userId" ng-href="/myMessages{{userId}}">Messages<small class="alert alert-warning">{{countMsgs}}</small></a></li>
                <li>
                    <button type="button" class="signin btn btn-warning" ng-click="signOut()">Sign out</button>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
<!-- end:navbar -->

<div id="carousel_1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel_1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel_1" data-slide-to="1"></li>
        <li data-target="#carousel_1" data-slide-to="2"></li>
        <li data-target="#carousel_1" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img/bg01.jpg" alt="Pic1">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="img/bg02.jpg" alt="Pic2">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="img/bg03.jpg" alt="Pic3">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="img/bg04.jpg" alt="Pic4">
            <div class="carousel-caption">

            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel_1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel_1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="carouselForm">
    <form role="form" ng-submit="search()">
        <div class="row col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-sm-10 col-xs-10">
            <div class="form-group text-center">
                <label for="country">Destination of events</label>
                <input type="text" name="eventLocationCity" ng-autocomplete options="{types:'(regions)'}" class="form-control" id="eventLocationCity" ng-model="eventLocationCity">
            </div>
        </div>
        <div class="row col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-sm-10 col-xs-10">
            <div class="form-group text-center">
                <label for="person">Or search for a user</label>
                <input type="text" name="person" class="form-control" id="person" ng-model="personToSearch">
            </div>
        </div>
        <div class="row col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-10 col-sm-10 col-xs-10">
            <div class="form-group text-center">
                <input type="submit" name="submit" value="Search" class="col-md-12 col-sm-12 col-xs-12 btn btn-warning btn-lg">
            </div>
        </div>
    </form>
</div>






<!-- begin:service -->
<div id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Event Emitter <small>First ever party manager!</small></h2>
            </div>
        </div>
    </div>
</div>
<!-- end:service -->




<!-- begin:content -->
<div id="content">
<div class="container">
<!-- begin:latest -->



<!--Search results-->
<div id="searchRes">
<!--begin:searched Events-->
<div ng-show="exSearchedEvents && exSearchedEvents.length!=0">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-title">
                <h2>Searched events by destination:</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div data-ng-repeat="events in exSearchedEvents">
            <div data-ng-repeat="event in events">
                <div class="col-md-3 col-sm-6 col-xs-12 property-container">
                    <a href="/infoEvent{{event._id}}">
                        <div class="property-image">
                            <img class="img-responsive" src="/uploaded/{{event.owner}}/mini{{event.photos[0]}}" alt="pic about event">
                            <div class="property-price">
                                <h4>{{event.title}}</h4>
                                <span>{{event.party.length}}</span>
                            </div>
                            <div class="property-status">
                                <span><get-real-date-logged></get-real-date-logged></span>
                            </div>
                        </div>
                        <div class="property-content">
                            <h3><small>{{event.about}}</small></h3>
                        </div>
                    </a>
                    <div class="text-center">
                        <button ng-show="event.party.indexOf(userId)==-1" type="button" ng-click="addMeToEvent(event.title)" class="btn btn-sm btn-success">Add me</button>
                        <button ng-show="event.party.indexOf(userId)!=-1" type="button" ng-click="deleteMeFromEvent(event._id)" class="btn btn-sm btn-warning">Delete me</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end:searched Events-->

<div ng-if="exSearchedPersons.length==0">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-title">
                <h2>Searched users:</h2>
            </div>
        </div>
    </div>
    <div class="row">
          <h3>No results found!</h3>
    </div>
</div>

<div ng-if="exSearchedEvents.length==0">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-title">
                <h2>Searched events by destination:</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>No results found!</h3>
    </div>
</div>


<!--begin:searched Persons-->
<div ng-show="exSearchedPersons && exSearchedPersons.length!=0">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-title">
                <h2>Searched users:</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div data-ng-repeat="users in exSearchedPersons">
            <div data-ng-repeat="user in users">
                <div class="col-md-3 col-sm-6 col-xs-12 property-container">
                    <a href="/infoUser{{user._id}}">
                        <div class="property-image">
                            <img class="img-responsive" src="/uploaded/{{user._id}}/mini_{{user.ava}}" alt="users ava">
                            <div class="property-price">
                                <h4>{{user.name}}</h4>
                            </div>
                            <div class="property-status">
                                <span><get-real-birth-date></get-real-birth-date></span>
                            </div>
                        </div>
                        <div class="property-content">
                            <h3><small>{{user.gender}}</small></h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end:searched Events-->
</div>
<!--Search results end-->




<!--begin:searched Events-->
<div ng-show="exMyPartyEvents">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-title">
                <h2>I've took part in:</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div data-ng-repeat="events in exMyPartyEvents">
            <div data-ng-repeat="event in events">
                <div class="col-md-3 col-sm-6 col-xs-12 property-container">
                    <a href="/infoEvent{{event._id}}">
                        <div class="property-image">
                            <img class="img-responsive" src="/uploaded/{{event.owner}}/mini{{event.photos[0]}}" alt="pic about event">
                            <div class="property-price">
                                <h4>{{event.title}}</h4>
                                <span>{{event.party.length}}</span>
                            </div>
                            <div class="property-status">
                                <span><get-real-date-logged></get-real-date-logged></span>
                            </div>
                        </div>
                        <div class="property-content">
                            <h3><small>{{event.about}}</small></h3>
                        </div>
                        <div ng-show="eventsChanged.indexOf(event._id)!=-1 && data.res[0].changesFound.indexOf(event._id)==-1" class="alert alert-info">
                            This event been changed!
                        </div>
                    </a>
                    <div class="text-center">
                        <button ng-show="event.party.indexOf(userId)==-1" type="button" ng-click="addMeToEvent(event.title)" class="btn btn-sm btn-success">Add me</button>
                        <button ng-show="event.party.indexOf(userId)!=-1" type="button" ng-click="deleteMeFromEvent(event._id)" class="btn btn-sm btn-warning">Delete me</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end:searched Events-->





<div class="row">
    <div class="col-md-12">
        <div class="heading-title">
            <h2>Events at your destination.</h2>
        </div>
    </div>
</div>
<div class="row">
    <div data-ng-repeat="events in exEvents">
        <div data-ng-repeat="event in events">
            <div class="col-md-3 col-sm-6 col-xs-12 property-container">
                <a href="/infoEvent{{event._id}}">
                <div class="property-image">
                    <img class="img-responsive" src="/uploaded/{{event.owner}}/mini{{event.photos[0]}}" alt="pic about event">
                    <div class="property-price">
                        <h4>{{event.title}}</h4>
                        <span>{{event.party.length}}</span>
                    </div>
                    <div class="property-status">
                        <span><get-real-date-logged></get-real-date-logged></span>
                    </div>
                </div>
                <div class="property-content">
                    <h3><small>{{event.about}}</small></h3>
                </div>
                </a>
                <div class="text-center">
                    <button ng-show="event.party.indexOf(userId)==-1" type="button" ng-click="addMeToEvent(event.title)" class="btn btn-sm btn-success">Add me</button>
                    <button ng-show="event.party.indexOf(userId)!=-1" type="button" ng-click="deleteMeFromEvent(event._id)" class="btn btn-sm btn-warning">Delete me</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- end:latest -->































<!--&lt;!&ndash; begin:for-sale &ndash;&gt;-->
<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="heading-title">-->
            <!--<h2>Real Estate For Sale</h2>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
    <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
        <!--<div class="property-container">-->
            <!--<div class="property-image">-->
                <!--<img src="img/img06.jpg" alt="arillo real estate theme">-->
                <!--<div class="property-price">-->
                    <!--<h4>Residential</h4>-->
                    <!--<span>$800,000</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="property-content">-->
                <!--<h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                    <!--tempor incididunt ut labore et dolore magna aliqua.</p>-->
            <!--</div>-->
            <!--<div class="property-features">-->
                <!--<span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>-->
                <!--<span><i class="fa fa-hdd-o"></i> 2 Bed</span>-->
                <!--<span><i class="fa fa-male"></i> 2 Bath</span>-->
                <!--<span><i class="fa fa-car"></i> 2 Garages</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; break &ndash;&gt;-->

    <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
        <!--<div class="property-container">-->
            <!--<div class="property-image">-->
                <!--<img src="img/img07.jpg" alt="arillo real estate theme">-->
                <!--<div class="property-price">-->
                    <!--<h4>Residential</h4>-->
                    <!--<span>$800,000</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="property-content">-->
                <!--<h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                    <!--tempor incididunt ut labore et dolore magna aliqua.</p>-->
            <!--</div>-->
            <!--<div class="property-features">-->
                <!--<span><i class="fa fa-home"></i> 6,000 m<sup>2</sup></span>-->
                <!--<span><i class="fa fa-hdd-o"></i> 3 Bed</span>-->
                <!--<span><i class="fa fa-male"></i> 2 Bath</span>-->
                <!--<span><i class="fa fa-building-o"></i> 2 Floors</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; break &ndash;&gt;-->

    <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
        <!--<div class="property-container">-->
            <!--<div class="property-image">-->
                <!--<img src="img/img08.jpg" alt="arillo real estate theme">-->
                <!--<div class="property-price">-->
                    <!--<h4>Residential</h4>-->
                    <!--<span>$800,000</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="property-content">-->
                <!--<h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                    <!--tempor incididunt ut labore et dolore magna aliqua.</p>-->
            <!--</div>-->
            <!--<div class="property-features">-->
                <!--<span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>-->
                <!--<span><i class="fa fa-hdd-o"></i> 2 Bed</span>-->
                <!--<span><i class="fa fa-male"></i> 2 Bath</span>-->
                <!--<span><i class="fa fa-building-o"></i> 1 Floor</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; break &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; end:for-sale &ndash;&gt;-->

<!-- begin:for-rent -->
<div class="row">
    <div class="col-md-12">
        <!--<div class="heading-title">-->
            <!--<h2>Real Estate For Rent</h2>-->
        <!--</div>-->
    </div>
</div>
<!--<div class="row">-->
    <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
        <!--<div class="property-container">-->
            <!--<div class="property-content-list">-->
                <!--<div class="property-image-list">-->
                    <!--<img src="img/img09.jpg" alt="arillo real estate theme">-->
                    <!--<div class="property-price">-->
                        <!--<h4>Villa</h4>-->
                        <!--<span>$30,000<small>/month</small></span>-->
                    <!--</div>-->
                    <!--<div class="property-features">-->
                        <!--<span><i class="fa fa-home"></i> 7,000 m<sup>2</sup></span>-->
                        <!--<span><i class="fa fa-hdd-o"></i> 3 Bed</span>-->
                        <!--<span><i class="fa fa-male"></i> 2 Bath</span>-->
                        <!--<span><i class="fa fa-building-o"></i> 2 Floors</span>-->
                        <!--<span><i class="fa fa-car"></i> 2 Garages</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="property-text">-->
                    <!--<h3><a href="#">Luxury Villa In Rego Park</a> <small>22, JJ Road, Yogyakarta</small></h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                        <!--tempor incididunt ut labore et dolore magna aliqua.</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; break &ndash;&gt;-->

    <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
        <!--<div class="property-container">-->
            <!--<div class="property-content-list">-->
                <!--<div class="property-text">-->
                    <!--<h3><a href="#">Land In Central Park</a> <small>22, JJ Road, Yogyakarta</small></h3>-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                        <!--tempor incididunt ut labore et dolore magna aliqua.</p>-->
                <!--</div>-->
                <!--<div class="property-image-list">-->
                    <!--<img src="img/img10.jpg" alt="arillo real estate theme">-->
                    <!--<div class="property-price">-->
                        <!--<h4>Villa</h4>-->
                        <!--<span>$30,000<small>/month</small></span>-->
                    <!--</div>-->
                    <!--<div class="property-features">-->
                        <!--<span><i class="fa fa-home"></i> 7,000 m<sup>2</sup></span>-->
                        <!--<span><i class="fa fa-hdd-o"></i> 3 Bed</span>-->
                        <!--<span><i class="fa fa-male"></i> 2 Bath</span>-->
                        <!--<span><i class="fa fa-building-o"></i> 2 Floors</span>-->
                        <!--<span><i class="fa fa-car"></i> 2 Garages</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; break &ndash;&gt;-->
<!--</div>-->
<!-- end:for-rent -->
</div>
</div>
<!-- end:content -->

<!--&lt;!&ndash; begin:testimony &ndash;&gt;-->
<!--<div id="testimony" style="background-image: url(img/bg04.jpg);">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">-->
                <!--<div id="testislider" class="carousel slide" data-ride="carousel">-->
                    <!--<div class="carousel-inner">-->
                        <!--<div class="item active">-->
                            <!--<div class="testimony-container">-->
                                <!--<div class="testimony-image" style="background: url(img/bg01.jpg)"></div>-->
                                <!--<div class="testimony-content">-->
                                    <!--<h3>Jane Doe</h3>-->
                                    <!--<blockquote>-->
                                        <!--<p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis</p>-->
                                    <!--</blockquote>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="item">-->
                            <!--<div class="testimony-container">-->
                                <!--<div class="testimony-image" style="background: url(img/bg02.jpg)"></div>-->
                                <!--<div class="testimony-content">-->
                                    <!--<h3>Cen Lung</h3>-->
                                    <!--<blockquote>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                                            <!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>-->
                                    <!--</blockquote>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="item">-->
                            <!--<div class="testimony-container">-->
                                <!--<div class="testimony-image" style="background: url(img/bg03.jpg)"></div>-->
                                <!--<div class="testimony-content">-->
                                    <!--<h3>Julia</h3>-->
                                    <!--<blockquote>-->
                                        <!--<p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>-->
                                    <!--</blockquote>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<a class="left carousel-control" href="#testislider" data-slide="prev">-->
                        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                    <!--</a>-->
                    <!--<a class="right carousel-control" href="#testislider" data-slide="next">-->
                        <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                    <!--</a>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end:testimony &ndash;&gt;-->

<!--&lt;!&ndash; begin:news &ndash;&gt;-->
<!--<div id="news">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--&lt;!&ndash; begin:blog &ndash;&gt;-->
            <!--<div class="col-md-4 col-sm-4">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="heading-title heading-title-sm bg-white">-->
                            <!--<h2>Latest From Blog</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; break &ndash;&gt;-->

                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="post-container post-noborder">-->
                            <!--<div class="post-img post-img-circle" style="background: url(img/img02.jpg);"></div>-->
                            <!--<div class="post-content">-->
                                <!--<div class="post-meta">-->
                                    <!--<span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">berita utama</a></span>-->
                                    <!--<span><em>April 22, 2014</em></span>-->
                                <!--</div>-->
                                <!--<div class="heading-title">-->
                                    <!--<h2><a href="#">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin</a></h2>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; break &ndash;&gt;-->

                        <!--<div class="post-container post-noborder">-->
                            <!--<div class="post-img post-img-circle" style="background: url(img/img03.jpg);"></div>-->
                            <!--<div class="post-content">-->
                                <!--<div class="post-meta">-->
                                    <!--<span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">berita utama</a></span>-->
                                    <!--<span><em>April 22, 2014</em></span>-->
                                <!--</div>-->
                                <!--<div class="heading-title">-->
                                    <!--<h2><a href="#">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin</a></h2>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; break &ndash;&gt;-->

                        <!--<div class="post-container post-noborder">-->
                            <!--<div class="post-img post-img-circle" style="background: url(img/img15.jpg);"></div>-->
                            <!--<div class="post-content">-->
                                <!--<div class="post-meta">-->
                                    <!--<span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">berita utama</a></span>-->
                                    <!--<span><em>April 22, 2014</em></span>-->
                                <!--</div>-->
                                <!--<div class="heading-title">-->
                                    <!--<h2><a href="#">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin</a></h2>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; break &ndash;&gt;-->

                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; break &ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash; end:blog &ndash;&gt;-->

            <!--&lt;!&ndash; begin:popular &ndash;&gt;-->
            <!--<div class="col-md-4 col-sm-4">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="heading-title heading-title-sm bg-white">-->
                            <!--<h2>Popular Real Estate</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; break &ndash;&gt;-->

                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="post-container">-->
                            <!--<div class="post-img" style="background: url(img/img12.jpg);"><h3>For Rent</h3></div>-->
                            <!--<div class="post-content">-->
                                <!--<div class="post-meta">-->
                                    <!--<span><i class="fa fa-home"></i> 7,000 m<sup>2</sup> / </span>-->
                                    <!--<span><i class="fa fa-hdd-o"></i> 3 Bed / </span>-->
                                    <!--<span><i class="fa fa-male"></i> 2 Bath / </span>-->
                                    <!--<span><i class="fa fa-building-o"></i> 2 Floors / </span>-->
                                    <!--<span><i class="fa fa-car"></i> 2 Garages / </span>-->
                                <!--</div>-->
                                <!--<div class="heading-title">-->
                                    <!--<h2><a href="#">Residential - <span>$300,000</span>/year</a></h2>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; break &ndash;&gt;-->

                        <!--<div class="post-container">-->
                            <!--<div class="post-img" style="background: url(img/img13.jpg);"><h3>For Rent</h3></div>-->
                            <!--<div class="post-content">-->
                                <!--<div class="post-meta">-->
                                    <!--<span><i class="fa fa-home"></i> 6,700 m<sup>2</sup> / </span>-->
                                    <!--<span><i class="fa fa-hdd-o"></i> 4 Bed / </span>-->
                                    <!--<span><i class="fa fa-male"></i> 2 Bath / </span>-->
                                    <!--<span><i class="fa fa-building-o"></i> 1 Floors / </span>-->
                                    <!--<span><i class="fa fa-car"></i> 2 Garages / </span>-->
                                <!--</div>-->
                                <!--<div class="heading-title">-->
                                    <!--<h2><a href="#">Commercial - <span>$700,000</span>/year</a></h2>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; break &ndash;&gt;-->

                        <!--<div class="post-container post-noborder">-->
                            <!--<div class="post-img" style="background: url(img/img14.jpg);"><h3>For Sale</h3></div>-->
                            <!--<div class="post-content">-->
                                <!--<div class="post-meta">-->
                                    <!--<span><i class="fa fa-home"></i> 5,000 m<sup>2</sup> / </span>-->
                                    <!--<span><i class="fa fa-hdd-o"></i> 3 Bed / </span>-->
                                    <!--<span><i class="fa fa-male"></i> 2 Bath / </span>-->
                                    <!--<span><i class="fa fa-building-o"></i> 1 Floors / </span>-->
                                    <!--<span><i class="fa fa-car"></i> 1 Garages / </span>-->
                                <!--</div>-->
                                <!--<div class="heading-title">-->
                                    <!--<h2><a href="#">Villa - <span>$800,000</span></a></h2>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; break &ndash;&gt;-->

                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; break &ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash; end:popular &ndash;&gt;-->

            <!--&lt;!&ndash; begin:agent &ndash;&gt;-->
            <!--<div class="col-md-4 col-sm-4">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="heading-title heading-title-sm bg-white">-->
                            <!--<h2>Our Agents</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; break &ndash;&gt;-->

                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->

                        <!--<div class="post-container post-noborder">-->
                            <!--<div class="post-img" style="background: url(img/team03.jpg);"></div>-->
                            <!--<div class="post-content list-agent">-->
                                <!--<div class="heading-title">-->
                                    <!--<h2><a href="#">Julia</a></h2>-->
                                <!--</div>-->
                                <!--<div class="post-meta">-->
                                    <!--<span><i class="fa fa-envelope-o"></i> johndoe@domain.com</span><br>-->
                                    <!--<span><i class="fa fa-phone"></i> +12345678</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; break &ndash;&gt;-->

                        <!--<div class="post-container post-noborder">-->
                            <!--<div class="post-img" style="background: url(img/avatar.png);"></div>-->
                            <!--<div class="post-content list-agent">-->
                                <!--<div class="heading-title">-->
                                    <!--<h2><a href="#">John Doe</a></h2>-->
                                <!--</div>-->
                                <!--<div class="post-meta">-->
                                    <!--<span><i class="fa fa-envelope-o"></i> johndoe@domain.com</span><br>-->
                                    <!--<span><i class="fa fa-phone"></i> +12345678</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; break &ndash;&gt;-->

                        <!--<div class="post-container post-noborder">-->
                            <!--<div class="post-img" style="background: url(img/team01.jpg);"></div>-->
                            <!--<div class="post-content list-agent">-->
                                <!--<div class="heading-title">-->
                                    <!--<h2><a href="#">Jane Doe</a></h2>-->
                                <!--</div>-->
                                <!--<div class="post-meta">-->
                                    <!--<span><i class="fa fa-envelope-o"></i> johndoe@domain.com</span><br>-->
                                    <!--<span><i class="fa fa-phone"></i> +12345678</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; break &ndash;&gt;-->

                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; break &ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash; end:agent &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end:news &ndash;&gt;-->










<!--&lt;!&ndash; begin:subscribe &ndash;&gt;-->
<!--<div id="subscribe">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-5 col-md-offset-2 col-sm-8 col-xs-12">-->
                <!--<h3>Get Newsletter Update</h3>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-4 col-xs-12">-->
                <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control input-lg" placeholder="Enter your mail">-->
              <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-warning btn-lg" type="submit"><i class="fa fa-envelope"></i></button>-->
              <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end:subscribe &ndash;&gt;-->















<!-- begin:footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>Support</h3>
                    <ul class="list-unstyled">
                        <li><span class="fa fa-skype"></span> Skype :  <span><a ng-href="skype:{{mySkype}}?chat">{{mySkype}}</a></span></li>
                        <li><span class="fa fa-envelope-o"></span> Email : <span><a href="mailto:{{myEmail}}">{{myEmail}}</a></span></li>
                    </ul>
                </div>
            </div>
            <!-- break -->
            <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-3">
                <div class="widget">
                    <h2>Enveti</h2>
                    <address>
                        {{myAddress}}
                    </address>
                </div>
            </div>
            <!-- break -->
        </div>
        <!-- break -->















        <!-- begin:copyright -->
        <div class="row">
            <div class="col-md-12 copyright">
                <p>Copyright &copy; 2014 UncoJet Ltd, All Right Reserved.</p>
                <a  ng-click="scrollTo('top')" class="btn btn-warning scroltop"><i class="fa fa-angle-up"></i></a>
                <ul class="list-inline social-links">
                    <li><a href="https://vk.com/public70183674" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="VK"><i class="fa fa-vk"></i></a></li>
                    <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- end:copyright -->

    </div>
</div>
<!-- end:footer -->
