<!-- begin:navbar -->
<div class="maintainEvent">
<nav id="top" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="img/mini_logo.png">
                <h4>{{userName}}'s page!</h4>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a ng-href="/maintainUser{{userId}}">Maintain info</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/createEvent">Create new</a></li>
                        <li><a href="/maintainEvents">Maintain created</a></li><!--
                        <li><a href="category.html">Category (Grid View)</a></li>
                        <li><a href="category_list.html">Category (List View)</a></li>
                        <li><a href="single.html">Single page</a></li>-->
                    </ul>
                </li>
                <li><a ng-if="userId" ng-href="/myMessages{{userId}}">Messages<small class="alert alert-warning">5</small></a></li>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="blog.html">Blog Archive</a></li>-->
                        <!--<li><a href="blog_single.html">Blog Single</a></li>-->
                        <!--<li><a href="about.html">About</a></li>-->
                        <!--<li><a href="contact.html">Contact</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li>
                    <button type="button" class="signin btn btn-warning" ng-click="signOut()">Sign out</button>
                </li>
                <!--<li><a href="/registerUser" class="signup" data-toggle="modal" data-target="#modal-signup">Sign up</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
<!-- end:navbar -->

    <!--<h3 class="text-center">The list of created by you events:</h3>-->
    <!--<div class="list-group">-->
        <!--<div data-ng-repeat="event in info" class="dropdown">-->
            <!--<a href="" class="list-group-item list-group-item-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true">-->
                <!--<span class="badge">{{event.party.length}}</span>-->
                <!--{{event.title}}-->
                <!--<span class="caret"></span>-->
            <!--</a>-->
            <!--<div class="dropdown-menu">-->
                <!--{{event}}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<div id="MainMenu">
    <div class="list-group panel">
        <div data-ng-repeat="event in info">
            <a data-target="#{{event._id}}" ng-click="mapOrderSet(event)" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
                <span class="badge">{{event.party.length}}</span>
                {{event.title}}
                <span class="caret"></span>
            </a>
            <div class="collapse" id="{{event._id}}">
                <div class="text-center deleteButtonEvent">
                    <button type="button" class="btn btn-danger" ng-click="deleteEvent(event.title)">Delete this event</button>
                </div>
                <div class="text-center makeChangesEventButton">
                    <a class="btn btn-warning" ng-href="/makeChangesEvent{{event._id}}">Make some changes</a>
                </div>
                <h4 class="text-center alert alert-info">Destination: {{event.destination}}
                </h4>
                <pre class="text-center">About this event: {{event.about}}</pre>
                <get-real-date></get-real-date>
                <h4 class="text-center">Videos:</h4>
                <div class="row col-sm-12 col-md-12">
                    <div data-ng-repeat="video in event.videos track by $index" class="col-sm-6 col-md-4">
                        <custom-video-event>
                        </custom-video-event>
                    </div>
                </div>

                <h4 class="text-center">Photos:</h4>
                <div class="row col-sm-12">
                    <div data-ng-repeat="pic in event.photos track by $index" class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a href="uploaded/{{userId}}/{{pic}}" data-lightbox="{{pic}}" target="_blank">
                                <img ng-src="uploaded/{{userId}}/mini{{pic}}" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <h4 class="text-center">Participants:</h4>
                <div class="text-center">
                    <button type="button" ng-click="toggleParticipants()" class="btn btn-warning">
                        Click to show/hide participants
                        <b class="caret"></b>
                    </button>
                </div>
                <div class="row col-sm-12">
                    <div data-ng-repeat="user in event.party track by $index" class="col-sm-6 col-md-4">
                        <get-user-info></get-user-info>
                    </div>
                </div>


                <h4 class="text-center">Map details:</h4>
                <div class="row map" ng-if="info.indexOf(event)==mapOrder">
                    <label for="refreshMap">
                        You can refresh the map if it is still not loaded clearly.
                        Click on the marker to find the proper address.
                    </label>
                    <button name="refreshMap" class="col-md-2 btn btn-success" ng-click="mapOptions.refresh()">Refresh Map</button>
                    <ui-gmap-google-map class="col-md-6"
                                        center="map.center"
                                        zoom="mapOptions.zoom"
                                        options="mapOptions.options"
                                        dragging="map.dragging"
                                        control="mapOptions.control"
                                        ng-cloak
                            >
                        <ui-gmap-marker coords="map.marker" idkey="map.marker.id" >
                            <ui-gmap-window isIconVisibleOnClick="true">
                                <p ng-cloak>{{event.addressInCity}}</p>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
