<!-- begin:navbar -->
<nav id="top" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div ng-show="info.password && info.email">
                <a class="navbar-brand" href="/">
                    <img src="img/mini_logo.png">
                    <h4>{{info.name}}'s page!</h4>
                </a>
            </div>
            <div ng-show="!info.password || !info.email" class="navbar-brand">
                <img src="img/mini_logo.png">
                <h4>{{info.name}}'s page!</h4>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="info.password && info.email"><a href="/">Home</a></li>
                <li class="active"><a ng-click="scrollTo('top')">Maintain info</a></li>
                <li ng-show="info.password && info.email" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/createEvent">Create new</a></li>
                        <li><a href="/maintainEvents">Maintain created</a></li><!--
                        <li><a href="category.html">Category (Grid View)</a></li>
                        <li><a href="category_list.html">Category (List View)</a></li>
                        <li><a href="single.html">Single page</a></li>-->
                    </ul>
                </li>
                <li ng-show="info.password && info.email"><a ng-if="userId" ng-href="/myMessages{{userId}}">Messages<small class="alert alert-warning">{{countMsgs}}</small></a></li>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="blog.html">Blog Archive</a></li>-->
                        <!--<li><a href="blog_single.html">Blog Single</a></li>-->
                        <!--<li><a href="about.html">About</a></li>-->
                        <!--<li><a href="contact.html">Contact</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li>
                    <button type="button" class="signin btn btn-warning" ng-click="signOut()">Sign out</button>
                </li>
                <!--<li><a href="/registerUser" class="signup" data-toggle="modal" data-target="#modal-signup">Sign up</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
<!-- end:navbar -->
<h3 class="text-center">Maintain {{info.name}}'s info...</h3>
<div class="text-center" ng-show="!info.password || !info.email">
    <h4 class="alert alert-danger">
        Please insert your password,email and one language you can speak to make available total web project!
    </h4>
</div>
<div class="text-center">
    <img ng-show="info.ava || avaProcess==false" class="ing-responsive img-thumbnail img-circle" ng-src="/uploaded/{{info._id}}/mini_{{info.ava}}">
    <div ng-show="avaProcess==true"><i class="fa fa-cog fa-5x fa-spin"></i></div>
    <!--<img ng-show="newAva" src="/uploaded/{{info._id}}/mini_{{newAva}}">-->

    <form role="form" name="maintainInfo">
        <div ng-show="info.ava">
            <div class="form-group">
                <label class="control-label" for="inputAva">Change main picture</label>
                <input type="file" ng-file-select="onAvaChange($files)" class="form-control" id="inputAva"/>
            </div>
            <div class="form-group">
                <button type="button" ng-click="deleteAva()" class="form-control btn btn-success btn-sm">Delete main picture</button>
            </div>
        </div>
        <div ng-show="!info.ava" class="form-group">
            <label class="control-label" for="inputAva">Insert main picture</label>
            <input type="file" ng-file-select="onAvaInsert($files)" class="form-control" id="inputAva"/>
        </div>
        <div ng-show="avaError=='wrong'" class="control-label has-error text-center">
            <h4>You've tried to upload wrong image file.</h4>
        </div>
        <div ng-show="avaError=='error'" class="control-label has-error text-center">
            <h4>Something happened at server, file been rejected! Try to upload again.</h4>
        </div>
        <h5>Please wait until the end of upload. Progress bar 100% label. Otherwise files wont be uploaded!</h5>
        <div ng-show="progress && avaProcess">
            <div class="row clear-both text-center">
                <h3>Loading:</h3>
            </div>
            <div class="row">
                <div class="progress col-sm-6 col-sm-offset-3">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                        {{progress}}%
                    </div>
                </div>
            </div>
        </div>

        <!--<div ng-if="!info.password || info.password==''" ng-class="{'has-error':!info.password && !password}" class="form-group">-->
            <!--<label class="control-label" for="password">Change(create) password</label>-->
            <!--<input type="password" name="password" class="form-control" id="password" ng-model="pwd" required>-->
            <!--<br><span class="control-label">Required!</span>-->
        <!--</div>-->

        <div ng-class="{'has-error':!info.password || !pwd || pwd==''}" class="form-group">
            <label class="control-label" for="pwd">PWD</label>
            <input type="password" name="pwd" class="form-control" ng-model="pwd" required>
        </div>

        <div ng-class="{'has-error':passwordR!=pwd}" class="form-group">
            <label class="control-label" for="passwordR">Confirm your new password</label>
            <input type="password" name="passwordR" class="form-control" id="passwordR" ng-model="passwordR" required ng-pattern="pwd">
            <br><span class="control-label" ng-show="maintainInfo.passwordR.$error.pattern">
        Password not confirmed, please try again!</span>
        </div>

        {{pwd}} = {{passwordR}}


        <div ng-class="{'has-error':!email}" class="form-group">
            <label class="control-label" for="exampleInputEmail">Email</label>
            <input ng-blur="checkEmailFormat()" type="email" name="email" class="form-control" id="exampleInputEmail" placeholder="{{info.email}}" ng-model="email" required>
        <span class="control-label" ng-show="maintainInfo.email.$invalid && !emailError">
        Please enter proper email address!</span>
        <span class="control-label" ng-show="emailError">
        {{emailPlaceholder}}</span>
        </div>
        <div class="form-group">
            <label for="exampleInputSkype">Your skype Id</label>
            <input type="text" class="form-control" id="exampleInputSkype" placeholder="{{info.skype}} (It is not necessary)" ng-model="skype">
        </div>
        <div class="form-group">
            <label for="exampleInputPhone">Your phone</label>
            <input type="text" class="form-control" id="exampleInputPhone" placeholder="{{info.phone}} (It is not necessary)" ng-model="phone">
        </div>
        <div ng-class="{'has-error':selectedLanguages.length==0}" class="form-group">
            <label class="control-label" for="exampleInputLanguages">Languages you speak</label>
            <!--<input type="text" class="form-control" id="exampleInputLanguages" placeholder="Enter languages you speak" ng-model="languages">-->
            <input type="text" auto-complete items="languages" placeholder="Select from drop down list." ng-model="selectedLanguage">
            <h4><span data-ng-repeat="lang in selectedLanguages">{{lang}}<a type="button" ng-click="deleteLanguage(lang)"><span class="glyphicon glyphicon-minus"></span></a>, </span></h4>
        <span class="control-label" ng-show="selectedLanguages.length==0">
        Required at least one!</span>
        </div>
        <div class="form-group">
            <label for="exampleInputAbout">Additional information about yourself</label>
            <textarea id="exampleInputAbout" ng-model="about" class="form-control" placeholder="{{about}}" rows="3"></textarea>
        </div>
        <h2>Adding or deleting pictures</h2>
        <div class="form-group">
            <label for="exampleInputFolderPhoto">Paste pictures to the folder(png, jpeg, bmp, gif file format only)</label>
            <input type="text" class="form-control" id="exampleInputFolderPhoto" ng-model="currentPicFolder"/>
        </div>
        <h4 ng-show="resFolders.length!=0" class="text-center">Or choose from created...</h4>
        <div class="alert alert-danger" ng-show="resultInputPicture=='wrong'">
            <h4>Last file was not uploaded to server. Because of wrong picture format!</h4>
        </div>
        <div class="alert alert-danger" ng-show="resultInputPicture=='error'">
            <h4>Last file was not uploaded to server. Because server problems! Try to upload again.</h4>
        </div>
        <ul class="list-group">
            <div data-ng-repeat="folder in resFolders">
                <li class="list-group-item">
                    <span class="badge">Photoes: {{folder.summ}}</span>
                    <a ng-click="selectFolder(folder.folder)"> {{folder.folder}}
                        <span ng-show="folderPics[0]._id==folder.folder && !isEven(firstPicFolderSelect)"><i class="fa fa-caret-up"></i></span>
                        <span ng-show="isEven(firstPicFolderSelect)" class="caret"></span>
                        <span ng-show="folderPics[0]._id!=folder.folder && !isEven(firstPicFolderSelect)" class="caret"></span>
                    </a>
                </li>
                <div ng-show="folderPics[0]._id==folder.folder && !isEven(firstPicFolderSelect)" class="row">
                    <div data-ng-repeat="pic in folderPics[0].photos" class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a href="/uploaded/{{info._id}}/{{folderPics[0]._id}}/{{pic}}" data-lightbox="{{folder.folder}}" data-title="{{folder.folder}}">
                                <img ng-src="/uploaded/{{info._id}}/{{folderPics[0]._id}}/mini_{{pic}}" alt="mini_{{pic}}">
                            </a>
                            <div class="caption">
                                <p><button type="button" ng-click="deletePic(pic,folder.folder)" class="btn btn-sm btn-danger">Удалить</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <h5>Please wait until the end of upload. Progress bar 100% label. Otherwise files wont be uploaded!</h5>
        <div ng-show="progress && picsProcess">
            <div class="row clear-both text-center">
                <h3>Loading:</h3>
            </div>
            <div class="row">
                <div ng-show="picsProcess==true"><i class="fa fa-cog fa-5x fa-spin"></i></div>
                <div class="progress col-sm-6 col-sm-offset-3">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                        {{progress}}%
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="file" ng-file-select="onPicSelect($files)" class="form-control" id="inputPic"/>
        </div>
        <h2>Adding or deleting video</h2>
        <div class="form-group">
            <label for="exampleInputFolderVideo">Paste video to the folder</label>
            <input type="text" class="form-control" id="exampleInputFolderVideo" placeholder="{{currentVideoFolder}}" ng-model="currentVideoFolder"/>
        </div>
        <h4 ng-show="resFoldersVideo.length!=0" class="text-center">Or choose from created...</h4>
        <div class="alert alert-danger" ng-show="resultInputVideo=='wrong'">
            <h4>Last file was not uploaded to server. Because of wrong picture format!</h4>
        </div>
        <div class="alert alert-danger" ng-show="resultInputVideo=='error'">
            <h4>Last file was not uploaded to server. Because server problems! Try to upload again.</h4>
        </div>
        <ul class="list-group">
            <div data-ng-repeat="folder in resFoldersVideo">
                <li class="list-group-item">
                    <span class="badge">Videos: {{folder.summ}}</span>
                    <a ng-click="selectFolderVideo(folder.folder)"> {{folder.folder}}
                        <span ng-show="folderVideos[0]._id==folder.folder && !isEven(firstVideoFolderSelect)"><i class="fa fa-caret-up"></i></span>
                        <span ng-show="isEven(firstVideoFolderSelect)" class="caret"></span>
                        <span ng-show="folderVideos[0]._id!=folder.folder && !isEven(firstVideoFolderSelect)" class="caret"></span>
                    </a>
                </li>
                <div ng-show="folderVideos[0]._id==folder.folder && !isEven(firstVideoFolderSelect)" class="row">
                    <div data-ng-repeat="video in folderVideos[0].videos" class="col-sm-6 col-md-4">

                            <custom-video></custom-video>
                            <div class="caption text-center">
                                <p><button type="button" ng-click="deleteVideo(video,folder.folder)" class="btn btn-sm btn-danger">Удалить</button></p>
                            </div>

                    </div>
                </div>
            </div>
        </ul>
        <h5>Please wait until the end of upload. Progress bar 100% label. Otherwise files wont be uploaded!</h5>
        <div class="form-group">
            <input type="file" ng-file-select="onVideoSelect($files)" class="form-control" id="inputVideo"/>
        </div>
        <div ng-show="progress && videoProcess">
            <div ng-show="videoProcess==true"><i class="fa fa-cog fa-5x fa-spin"></i></div>
            <!--<div class="row clear-both text-center">
                <h3>Loading:</h3>
            </div>
            <div class="row">
                <div class="progress col-sm-6 col-sm-offset-3">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                        {{progress}}%
                    </div>
                </div>
            </div>-->
        </div>
        <h2>I am now in:</h2>
        <h4 ng-show="info.destination">{{info.destination}}</h4>
        <div class="form-group">
            <input type="text" ng-autocomplete options="{types:'(regions)'}" class="form-control" placeholder="{{info.destination}}" ng-model="destination">
        </div>


        <!--
<hr>
        <h2>Search for a person:</h2>
        <div class="form-group">
            <label for="inputPerson">Name:</label>
            <input type="text" class="form-control" id="inputPerson" placeholder="{{personName}}" ng-model="personName">
        </div>
        <div class="form-group">
            <label for="inputPerson">Second name:</label>
            <input type="text" class="form-control" id="inputPerson" placeholder="{{personSecondName}}" ng-model="personSecondName">
        </div>
        <div class="form-group">
            <label for="inputPlaceOfBirth">Place of birth:</label>
            <input type="text" ng-autocomplete options="{types:'(regions)'}" class="form-control" id="inputPlaceOfBirth" placeholder="{{personPlaceOfBirth}}" ng-model="personPlaceOfBirth">
        </div>
<hr>
        <h3>Filter by destination:</h3>
        <div class="form-group">
            <input type="text" ng-autocomplete options="{types:'(regions)'}" class="form-control" id="inputDestination" ng-model="destinationFilter">
        </div>
<hr>
        <h3>Filter by gender:</h3>
        <div class="form-group text-center">
            <input type="radio" ng-model="genderFilter" name="genderFilter" id="genderFilter" value="male">Male
            <input type="radio" ng-model="genderFilter" name="genderFilter" id="genderFilter" value="female">Female
        </div>
<hr>
        <h3>Filter by languages:</h3>
        <div class="form-group">
            <input type="text" auto-complete-filter items="languages" ng-model="filteredLanguage">
            <h4>Selected languages:</h4>
            <h4><span data-ng-repeat="lang in filteredLanguages">{{lang}}<a type="button" ng-click="deleteFilterLanguage(lang)"><span class="glyphicon glyphicon-minus"></span></a>, </span></h4>
        </div>
<hr>
        <h3>Filter by date:</h3>
        <div class="form-group" ng-show="!dateError">
            <label for="datepicker">Date of birth:</label>
            <input type="text" class="form-control datepicker" id="datepicker" placeholder="{{personDateOfBirth}}" ng-model="personDateOfBirth">
        </div>
        <div class="form-group has-error" ng-show="dateError">
            <label for="datepicker">Date of birth:</label>
            <input type="text" class="form-control datepicker" id="datepicker" placeholder="{{dateOfBirthPlaceholder}}" ng-model="personDateOfBirth">
        </div>
<hr>
        <h3>Or filter by age range</h3>
        <div class="form-group">
            <label for="ageFrom">From age:</label>
            <input type="text" class="form-control" id="ageFrom" placeholder="{{ageFrom}}" ng-model="ageFrom">
        </div>
        <div class="form-group">
            <label for="ageTill">Till age:</label>
            <input type="text" class="form-control" id="ageTill" placeholder="{{ageTill}}" ng-model="ageTill">
        </div>

        <div class="form-group">
            <button type="button" ng-click="searchPerson()" class="btn btn-sm btn-success">Search...</button>
        </div>
<hr>
        <h3>Found:</h3>
        <div ng-show="resPersons.result!='empty'" masonry>
            <div class="thumbnail masonry-brick" data-ng-repeat="person in resPersons.result">
                <img ng-show="person.ava" ng-src="/uploaded/{{person._id}}/mini_{{person.ava}}" alt="mini_{{person.ava}}">
                <div class="caption">
                    <h4>{{person.name}} {{person.second_name}}</h4>
                    <p><button ng-show="info.friends.indexOf(person._id)=='-1'" type="button" ng-click="addToFriends(person._id)" class="btn btn-sm btn-info">Add to friends</button></p>
                    <div ng-show="info.friends.indexOf(person._id)!='-1'" class="alert alert-success" role="alert">This person is your friend!</div>
                    <p ng-show="info.friends.indexOf(person._id)!='-1'"><button ng-click="deleteFromFriends(person._id)" type="button">Delete this person from friends list</button></p>
                </div>
            </div>
        </div>
<hr>-->
        <div class="text-center">
            <button class="btn btn-success" ng-disabled="maintainInfo.$invalid || emailError || selectedLanguages.length==0" ng-click="submit()" type="button">Make changes</button>
        </div>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Deletion of you account.</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your account with all pictures and videos?
                    <form role="form" name="deleteUserForm" ng-submit="deleteMyAccount()">
                        <div ng-if="info.password" ng-class="{'has-error':password!=info.password}" class="form-group">
                            <label class="control-label" for="password">Confirm password:</label>
                            <input type="password" name="password" class="form-control" id="password" ng-model="password" required ng-pattern="info.password">
                            <br><span class="control-label" ng-show="deleteUserForm.password.$error.pattern">
                                Password not confirmed, please try again!</span>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="password!=info.password">Delete me</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-danger">
        <h2 class="text-center">Warning!</h2>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete my account!</button>
    </div>
</div>