    <nav id="top" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="img/mini_logo.png">
                    <h4>{{userName}}'s page!</h4>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-top">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a ng-href="/maintainUser{{userId}}">Maintain info</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My events <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/createEvent">Create new</a></li>
                            <li><a href="/maintainEvents">Maintain created</a></li><!--
                        <li><a href="category.html">Category (Grid View)</a></li>
                        <li><a href="category_list.html">Category (List View)</a></li>
                        <li><a href="single.html">Single page</a></li>-->
                        </ul>
                    </li>
                    <li><a ng-if="userId" ng-href="/myMessages{{userId}}">Messages<small class="alert alert-warning">{{countMsgs}}</small></a></li>
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="blog.html">Blog Archive</a></li>-->
                            <!--<li><a href="blog_single.html">Blog Single</a></li>-->
                            <!--<li><a href="about.html">About</a></li>-->
                            <!--<li><a href="contact.html">Contact</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li>
                        <button type="button" class="signin btn btn-warning" ng-click="signOut()">Sign out</button>
                    </li>
                    <!--<li><a href="/registerUser" class="signup" data-toggle="modal" data-target="#modal-signup">Sign up</a></li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

            <h3 class="text-center">{{infoEvent[0].title}}</h3>

<form ng-show="userId" role="form" name="createEvent" class="text-center">
    <div class="form-group">
        <label class="control-label" for="eventLocationCity">Location of event(city or town title):</label>
        <input type="text" name="eventLocationCity" ng-autocomplete options="{types:'(regions)'}" class="form-control" id="eventLocationCity" ng-model="eventLocationCity" required>
    </div>
    <h4>Please move marker on the map to the proper destination of event.</h4>
    <ui-gmap-google-map center='map.center' ng-if="renderMap" zoom='map.zoom' draggable="true" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>
    <div class="form-group" ng-class="{'has-error': createEvent.executionDate.$invalid}">
        <label class="control-label"><i class="fa fa-calendar"></i>Execution date:</label>
        <input class="form-control" ng-model="executionDate" ui-date="dateOptions" name="executionDate" data-max-date="01/01/2016" data-min-date="today" required>
        <span class="control-label" ng-show="createEvent.executionDate.$invalid && !createEvent.executionDate.$error.required">
        Invalid date format, select from dropdown list!</span>
    </div>
    <div class="form-group">
        <label for="addressInCity">Address in the city.</label>
        <textarea id="addressInCity" ng-model="addressInCity" name="addressInCity" class="form-control" placeholder="Not required!" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="phone">Phone number if exists(to contact you for details)</label>
        <input type="text" class="form-control" id="phone" ng-model="phone">
    </div>
    <div class="form-group">
        <label for="about">Info about this event</label>
        <textarea id="about" ng-model="about" name="about" class="form-control" rows="3"></textarea>
    </div>
    <h4>If you have low quality internet connection, try to use only compressed or low quality pictures, without video uploads.</h4>

<!--Output pictures-->
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="{'active': currentFolder==null}">
                    <a ng-click="unsetCurrentFolder()">
                        All
                    </a>
                </li>
                <li ng-class="{'active': item.folder==currentFolder.folder}" data-ng-repeat="item in folders  | unique:'folder' track by $id(item)">
                    <a ng-click="setCurrentFolder(item.folder)">
                        {{item.folder}}
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <h2 ng-show="currentFolder.folder!=null">Current folder is: {{currentFolder.folder}}</h2>
    <masonry-gallery-images></masonry-gallery-images>






    <!--<div ng-show="title" class="form-group">-->
        <!--<label for="pics">Paste pictures to advertise your event(png, jpeg, bmp, gif file format only):</label>-->
        <!--<input type="file" placeholder="Only available after title field filled in" class="filesInput form-control" id="pics"/>-->
    <!--</div>-->




    <!--<div ng-show="resultPics.indexOf('wrong format')==-1">-->
        <!--<div ng-show="progress && progress!='100'">-->
            <!--<div class="row clear-both text-center">-->
                <!--<h3>Loading:</h3>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="progress col-sm-6 col-sm-offset-3">-->
                    <!--<div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">-->
                        <!--{{progress}}%-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<mason-grid ng-show="!pictureProgress"></mason-grid>-->
        <!--<div ng-show="pictureProgress" class="text-center"><i class="fa fa-gear fa-5x fa-spin"></i><br>-->
            <!--<h3>In progress, compressing picture file into proper dimensions and format! Please wait!</h3>-->
        <!--</div>-->
    <!--</div>-->



    <!--<div ng-show="resultPics.indexOf('wrong format')!=-1">-->
        <!--<div class="alert alert-danger">Try to use proper image formats(jpeg,png,bmp, etc.)!</div>-->
    <!--</div>-->


    <!--Output video files-->
    <div ng-show="videosAvailable==true">
        <h4 class="text-center">Videos:</h4>
        <div class="row col-sm-12 col-md-12">
            <masonry-gallery-videos></masonry-gallery-videos>
        </div>
    </div>

    <div ng-show="audioAvailable==true">
        <h4 class="text-center">Audio:</h4>
        <div class="audiotags col-sm-12 col-md-12">
            <masonry-gallery-audio></masonry-gallery-audio>
        </div>
    </div>


        <label class="radio-inline" for="sliderPictures">
            <input name="selectInput" value="slider" id="inputFileTo" type="radio" ng-model="inputFileTo">
            Upload main slider pictures
        </label>
        <label class="radio-inline" for="singleFiles">
            <input name="selectInput" value="default" id="inputFileTo" type="radio" ng-model="inputFileTo">
            Upload single files
        </label>


    <div ng-show="inputFileTo!='slider'" class="form-group">
        <label for="folder">Put files into folder:</label>
        <input type="text"  name="folder" typeahead="state for state in foldersToSelect | filter:$viewValue | unique:'foldersToSelect' | limitTo:8"  class="form-control" id="folder" ng-model="folder" ng-model-options="{ updateOn: 'blur' }">
    </div>

    <div ng-show="inputFileTo=='slider'" ng-class="{'has-error':createEvent.orderSlider.$error.pattern}" class="form-group">
        <label for="orderSlider">Type in position of slider picture:</label>
        <h4 ng-show="createEvent.orderSlider.$error.pattern" class="control-label">Please paste in only integer value</h4>
        <input type="text" class="form-control" id="orderSlider" ng-model="orderSlider" name="orderSlider" ng-pattern="/^\d+$/">
    </div>

    <div ng-show="title" class="form-group">
        <label for="fileInput">Paste video,audio and image to this event</label>
        <input type="file" name="fileInput" class="filesInput form-control"/>
    </div>



    <div ng-show="progressFile && progressFile!=100">
        <div class="row clear-both text-center">
            <h3>Loading:</h3>
        </div>
        <div class="text-center"><i class="fa fa-gear fa-5x fa-spin"></i><br>
            <h3>In progress, compressing video file into proper dimensions and format! Please wait!</h3>
        </div>
        <div class="row">
            <div class="progress col-sm-6 col-sm-offset-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{progressFile}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressFile}}%;">
                    {{progressFile}}%
                </div>
            </div>
        </div>
    </div>
    <div ng-show="pleaseInfo">
        <div class="alert alert-danger">{{pleaseInfo}}</div>
    </div>






    <div ng-show="title || !createEvent.orderSlider.$error.pattern" class="form-group">
        <button type="button" class="btn btn-success form-control" ng-click="pasteFiles()">Paste files</button>
    </div>



    <button type="button" ng-click="submit()" class="btn btn-primary form-control" ng-disabled="createEvent.$invalid">Save changes</button>


    <div class="alert alert-danger form-group">
        <h2 class="text-center">Warning!</h2>
        <button type="button" class="btn btn-danger form-control" data-toggle="modal" data-target="#deleteModal">Delete this event!</button>
    </div>
</form>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete {{infoEvent[0].title}} event.</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this event with all files?
                    <form role="form" name="deleteEvent" ng-class="{'has-error':modalpwd!=userData.password}" ng-submit="deleteParty()">
                        <label ng-show="userData.password" class="control-label" for="modalpwd">Confirm password:</label>
                        <input ng-show="userData.password" type="password" name="modalpwd" class="form-control" ng-model="modalpwd" required ng-pattern="userData.password">
                        <br><span ng-show="userData.password" class="control-label" ng-show="deleteEvent.modalpwd.$error.pattern">
                                Password not confirmed, please try again!</span><br>
                        <button type="submit" class="btn btn-primary form-control" ng-disabled="modalpwd!=userData.password">Delete</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>