<nav id="top" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="/">
                <img src="img/mini_logo.png">
                <h4>{{userName}}'s page!</h4>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="/">Home</a></li>
                <li><a ng-href="/maintainUser{{userId}}">Maintain info</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/createEvent">Create new</a></li>
                        <li><a href="/maintainEvents">Maintain created</a></li><!--
                        <li><a href="category.html">Category (Grid View)</a></li>
                        <li><a href="category_list.html">Category (List View)</a></li>
                        <li><a href="single.html">Single page</a></li>-->
                    </ul>
                </li>
                <li class="active"><a ng-if="userId" ng-href="/myMessages{{userId}}">Messages<small class="alert alert-warning">{{countMsgs}}</small></a></li>
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="blog.html">Blog Archive</a></li>-->
                <!--<li><a href="blog_single.html">Blog Single</a></li>-->
                <!--<li><a href="about.html">About</a></li>-->
                <!--<li><a href="contact.html">Contact</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <li>
                    <button type="button" class="signin btn btn-warning" ng-click="signOut()">Sign out</button>
                </li>
                <!--<li><a href="/registerUser" class="signup" data-toggle="modal" data-target="#modal-signup">Sign up</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
<!-- end:navbar -->

<!--Chat start-->
<div class="messagesCont">
    <h5>Messages:</h5>
    <ul>
        <li ng-if="newMsgs.length!=0" data-ng-repeat="message in newMsgs">
            <div>
                <a ng-click="setUserTo(message.fromId,message.fromName)">
                    Click to answer ->
                </a>
                {{message.fromName}} : {{message.msg}}
            </div>
        </li>
        <li ng-if="messages.length!=0" data-ng-repeat="message in messages">
            <div ng-if="message.userFromId!=userId">
                <a ng-click="setUserTo(message.userFromId,message.userFromName)">
                    Click to answer ->
                </a>
                {{message.userFromName}} : {{message.msg}}
            </div>
            <div ng-if="message.userFromId==userId">
                Me to {{message.userToName}}: {{message.msg}}
            </div>
        </li>
    </ul>
    <form ng-show="userId" role="form" name="createEvent" class="text-center" ng-submit="submitMsg()">
        <div class="form-group">
            <h5 class="text-center">You need to select user to write to...</h5>
            <label class="control-label" for="msg">Your message: to {{userToName}}</label>
            <input class="form-control" name="msg" type="text" ng-model="msg" required="required">
        </div>
        <button type="submit" class="btn btn-success" ng-disabled="createEvent.$invalid || !userToId">Send message</button>
    </form>
</div>
<!--Chat end-->



<!-- begin:footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>Support</h3>
                    <ul class="list-unstyled">
                        <li><span class="fa fa-skype"></span> Skype :  <span><a ng-href="skype:{{mySkype}}?chat">{{mySkype}}</a></span></li>
                        <li><span class="fa fa-envelope-o"></span> Email : <span><a href="mailto:{{myEmail}}">{{myEmail}}</a></span></li>
                    </ul>
                </div>
            </div>
            <!-- break -->
            <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-3">
                <div class="widget">
                    <h2>Enveti</h2>
                    <address>
                        {{myAddress}}
                    </address>
                </div>
            </div>
            <!-- break -->
        </div>
        <!-- break -->















        <!-- begin:copyright -->
        <div class="row">
            <div class="col-md-12 copyright">
                <p>Copyright &copy; 2014 UncoJet Ltd, All Right Reserved.</p>
                <a  ng-click="scrollTo('top')" class="btn btn-warning scroltop"><i class="fa fa-angle-up"></i></a>
                <ul class="list-inline social-links">
                    <li><a href="https://vk.com/public70183674" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="VK"><i class="fa fa-vk"></i></a></li>
                    <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- end:copyright -->

    </div>
</div>
<!-- end:footer -->
