<div class="register">
<nav id="top" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="img/mini_logo.png">
                <h4>Enveti</h4>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Property <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="search.html">Search (Grid View)</a></li>
                        <li><a href="search_list.html">Search (List View)</a></li>
                        <li><a href="category.html">Category (Grid View)</a></li>
                        <li><a href="category_list.html">Category (List View)</a></li>
                        <li><a href="single.html">Single page</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Blog Archive</a></li>
                        <li><a href="blog_single.html">Blog Single</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
<!-- end:navbar -->

<!-- begin:header -->
<!--<div id="header" class="header-slide">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="quick-search">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- begin:testimony -->
<div id="testimony_reg" style="background-image: url(img/bg04.jpg);">
    <div class="container">
        <div class="row">
            <div id="carousel_reg" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel_reg" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel_reg" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="carousel-caption">
                            <h3>Welcome to the dream world...</h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3>Enjoy!</h3>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel_reg" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel_reg" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end:testimony -->
<!-- end:header -->
<form role="form" name="registerForm" ng-submit="submit()">
    <div ng-class="{'has-error':!name}" class="form-group">
        <label class="control-label" for="exampleInputName">First name</label>
        <input type="text" name="firstName" class="form-control" id="exampleInputName" placeholder="Required!" ng-model="name" required>
        <span class="control-label" ng-show="registerForm.firstName.$error.required">
        Required!</span><br>
    </div>





    <div ng-class="{'has-error':!gender}" class="form-group text-center">
        <label class="control-label" for="gender">Gender</label>
        <input name="gender" type="radio" ng-model="gender" name="gender" id="gender" value="male" required>Mr
        <input name="gender" type="radio" ng-model="gender" name="gender" id="gender" value="female" required>Ms
        <br><span class="control-label" ng-show="registerForm.gender.$error.required">
        Required!</span>
    </div>






    <div ng-class="{'has-error':!password}" class="form-group">
        <label class="control-label" for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" ng-model="password" required>
        <br><span class="control-label" ng-show="registerForm.password.$error.required">
        Required!</span>
    </div>



    <div ng-show="password" ng-class="{'has-error':passwordR!=password}" class="form-group">
        <label class="control-label" for="passwordR">Confirm your password</label>
        <input type="password" name="passwordR" class="form-control" id="passwordR" ng-model="passwordR" required ng-pattern="password">
        <br><span class="control-label" ng-show="registerForm.passwordR.$error.pattern">
        Password not confirmed, please try again!</span>
    </div>





    <div ng-class="{'has-error':!secondName}" class="form-group">
        <label class="control-label" for="exampleInputSecondName">Family Name</label>
        <input name="secondName" type="text" class="form-control" id="exampleInputSecondName" placeholder="Required!" ng-model="secondName" required>
        <br><span class="control-label" ng-show="registerForm.secondName.$error.required">
        Required!</span>
    </div>




    <div class="form-group" ng-class="{'has-error': registerForm.date.$invalid}">
        <label class="control-label"><i class="fa fa-calendar"></i>Date of Birth for congrats, etc...</label>
        <input type="text" class="form-control" ng-model="dateOfBirth" data-date-format="yyyy-MM-dd" data-min-date="01/01/60" data-max-date="today" data-autoclose="1" name="date" placeholder="Required!" bs-datepicker required>
        <br><span class="control-label" ng-show="registerForm.date.$error.required">
        Required!</span>
        <span class="control-label" ng-show="registerForm.date.$invalid && !registerForm.date.$error.required">
        Invalid date format, select from dropdown list!</span>
    </div>




    <div ng-class="{'has-error':!placeOfBirth}" class="form-group">
        <label class="control-label" for="exampleInputPlaceOfBirth">Place Of Birth</label>
        <input name="placeOfBirth" type="text" ng-autocomplete options="{types:'(regions)'}" class="form-control" id="exampleInputPlaceOfBirth" placeholder="Required!" ng-model="placeOfBirth" required>
        <br><span class="control-label" ng-show="registerForm.placeOfBirth.$error.required">
        Required!</span>
    </div>





    <div ng-class="{'has-error':selectedLanguages.length==0}" class="form-group">
        <label class="control-label" for="exampleInputLanguages">Languages you speak</label>
        <!--<input type="text" class="form-control" id="exampleInputLanguages" placeholder="Enter languages you speak" ng-model="languages">-->
        <input type="text" auto-complete items="languages" placeholder="Select from drop down list." ng-model="selectedLanguage">
        <h4 class="control-label">Selected languages:</h4>
        <h4><span data-ng-repeat="lang in selectedLanguages">{{lang}}<a type="button" ng-click="deleteLanguage(lang)"><span class="glyphicon glyphicon-minus"></span></a>, </span></h4>
        <span class="control-label" ng-show="selectedLanguages.length==0">
        Required!</span>
    </div>





    <div ng-class="{'has-error':!email}" class="form-group">
        <label class="control-label" for="exampleInputEmail">Email</label>
        <input ng-focus="refreshEmail()" ng-blur="checkEmailFormat()" type="email" name="email" class="form-control" id="exampleInputEmail" placeholder="Required!" ng-model="email" required>
        <span class="control-label" ng-show="registerForm.email.$invalid && registerForm.email.$error.required && !emailError">
        Please enter proper email address!</span>
        <span class="control-label" ng-show="emailError">
        {{emailPlaceholder}}</span>
    </div>




    <h3 class="text-center">Other info is not necessary!</h3>




    <div class="form-group">
        <label for="exampleInputAbout">Additional information about yourself</label>
        <textarea id="exampleInputEmail" ng-model="about" class="form-control" placeholder="Enter text here!" rows="3"></textarea>
    </div>


<div ng-show="name && email">
    <h4>If you have low quality internet connection, try to use only compressed or low quality pictures.</h4>
    <div class="form-group">
        <label for="inputAva">Picture representing you! (png, jpeg, bmp, gif file format only)</label>
        <input type="file" ng-file-select="onFileSelect($files)" class="form-control" id="inputAva"/>
    </div>
    <!--Dilling with ava input!-->
    <div ng-show="progress && progress!='100'">
        <div class="row clear-both text-center">
            <h3>Loading:</h3>
        </div>
        <div class="row">
            <div class="progress col-sm-6 col-sm-offset-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                    {{progress}}%
                </div>
            </div>
        </div>
    </div>
    <div ng-show="ava=='wrong' || ava=='error' && !emailError">
        <div class="alert alert-danger">Try to use proper image formats(jpeg,png,bmp, etc.)!</div>
    </div>
    <div ng-show="ava && ava!='wrong' && ava!='error'">
        <img src="uploaded/{{ava}}" width="250px">
        <div class="text-center">
            <button ng-click="deleteAva(ava)" type="button" class="btn btn-warning btn-sm">Delete this picture!</button>
        </div>
    </div>
</div>
    <div ng-class="{'has-error':registerForm.$invalid || selectedLanguages.length==0 || emailError}" class="form-group">
        <label ng-show="registerForm.$invalid || selectedLanguages.length==0 || emailError" class="control-label">Button is disabled while all the necessary data is filled!</label>
        <br>
        <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid || selectedLanguages.length==0 || emailError">Submit</button>
    </div>
</form>


















<!-- begin:copyright -->
<div class="row">
    <div class="col-md-12 copyright">
        <a  ng-click="scrollTo('top')" class="btn btn-warning scroltop"><i class="fa fa-angle-up"></i></a>
        <a href="http://www.meandevelopment.com">© 2014 MEANdevelopment
            <img width="24px" src="img/mini_logo.ico">
        </a>
        <ul class="list-inline social-links">
            <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
</div>
<!-- end:copyright -->
</div>
